= f.hidden_field :street_number, :id => 'street_number'
= f.hidden_field :route, :id => 'route'
= f.hidden_field :locality, :id => 'locality'
= f.hidden_field :administrative_area_level_1, :id => 'administrative_area_level_1'
= f.hidden_field :country, :id => 'country'
= f.hidden_field :postal_code, :id => 'postal_code'

.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox
        .row
          .col-md-11.col-md-offset-1
            .pageTitle
              %h2 Type of Property
        .row
          .col-md-5.col-md-offset-1
            .boxDetail
              %p
                %span.dropDown
                  = f.select :property_type, Property::PROPERTYTYPE, :id => "propertyType"
              %h2 Privacy
              %p
              %p
                %span.dropDown
                  = f.select :privacy, Property::PRIVACY, :id => "privacyType"
              %h3 Property details
              .propertyDetail
                = image_tag 'bed-icon.png', :height => 21, :width => 21
                = f.text_field :no_of_badroom, :placeholder => "Number of badroom", :id => "badroom", :class => 'input'
                = image_tag 'plusb-icon.png', :height => 21, :width => 21
              .propertyDetail
                = image_tag 'bathroom-icon.png', :height => 21, :width => 21
                = f.text_field :no_of_bathroom, :placeholder => "Number of bathroom", :id => "bathroom", :class => 'input'
                = image_tag 'plusb-icon.png', :height => 21, :width => 21
              .detailText
                %span Allow multiple tenants to have a joint lease ?
                .verList
                  = f.check_box :allow_multiple_user_to_share, :id => "multiple_user"
                  %label Yes. Allow multiple users to share the property
                .verList
                  = f.check_box :allow_individual_user_to_rent, :id => "individual_user"
                  %label No. Only allow individual users to rent the property

          .col-md-6
            .boxDetail.rightPart
              %p
                %span.dropDown
                  = image_tag 'cal-icon.png', :height => 21, :width => 21
                  = f.select :lease_type, Property.lease_types
              %p
                .row
                  .col-sm-12
                    = image_tag 'cal-icon.png', :height => 21, :width => 21
                    = f.text_field :availibility, :placeholder => "When is the property available from?", :id=>"loaddatepicker", :class => 'input2'
              .verList
                = f.check_box :accept_mon_fri_booking
                %label.text-right Accept Monday-Friday Bookings
              %h3 Location
              .verList
                = f.check_box :same_as_landlord_address
                %label Same As Landlord address
              .verList
                = f.check_box :different_address
                %label Different Address
              %p
                %input.input2{:placeholder => "Address", :type => "text", :id => 'autocomplete'}/
              %p
                = f.text_field :unit_number, :placeholder => "Unit Number", :class => 'input2'
        .row
          .col-md-12
            = f.submit "Continue", :class => 'btn btn-success btn-lg pull-right'

:javascript
  initialize()