= f.hidden_field :privacy, :value => @property.privacy, :id=>"privacy"
.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              = f.submit '', :name => 'back_button', :class => 'back_button'
              = f.submit "Confirm",  :class => 'btn btn-success btn-lg widthAuto pull-right marginTop-20'
        .row
          .col-md-12
            .info
              .rentBlock
                %h3 Property
                .propertyBox
                  .title
                    %span Property Title
                  %ul
                    %li
                      %label Property description
                      %h3{:class => "control-group #{@property.errors[:description].any? ? 'error' : ''}"}
                        = f.text_field :description
                        - if @property.errors[:description].any?
                          %span.text-error.text-message= @property.errors[:description].first
                    %li
                      %label Rules
                      %h3{:class => "control-group #{@property.errors[:rules].any? ? 'error' : ''}"}
                        = f.text_field :rules
                        - if @property.errors[:rules].any?
                          %span.text-error.text-message= @property.errors[:rules].first

                    - if @property.privacy == 'shared_property'
                      %li
                        %label Housemates
                        %h3{:class => "control-group #{@property.errors[:housemates].any? ? 'error' : ''}"}
                          = f.text_field :housemates
                          - if @property.errors[:housemates].any?
                            %span.text-error.text-message= @property.errors[:housemates].first
        .row
          .col-md-12
            %p  
            %p
