= f.hidden_field :property_type, :value => @property.property_type, :id=>"ptype"
= f.hidden_field :privacy, :value => @property.privacy, :id=>"privacy"
= f.hidden_field :allow_multiple_user_to_share, :value => @property.allow_multiple_user_to_share, :id=>"allow"
= f.hidden_field :no_of_badroom, :value => @property.no_of_badroom, :id=>"numbadroom"

.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              = f.submit '', :name => 'back_button', :class => 'back_button'
        .row
          .col-md-6
            .info
              .rentBlock
                %h3 Rent
                %p
                  = image_tag 'dollar.png', :height => 20, :width => 20
                  = f.text_field :rent, :placeholder => "Rent", :class => 'input mob width100'
                  %span.dropDown
                    = f.select :rent_type, Property.rent_types, :class => 'minwidth95 minwidth135'
                .verList.inner
                  %input#checkbox1{:name => "check", :type => "checkbox"}/
                  %label Allow rent negotiation

            .info#autoUpdate.autoUpdate
              .rentBlock
                %p
                  = f.text_field :unit_title, :placeholder => "Unit title", :class => 'input mob width100'
                %p
                  = f.text_field :unit_rent, :placeholder => "Unit rent", :class => 'input mob width100'

          .col-md-6
            .info
              .categoryBlock
                %h3.text-center Included Utilities
                %p
                  - @utilities.each do |u|
                    %span
                      = u.title
                = f.text_field :utilities, :placeholder => "Others", :class => 'input2 width100per'
              .categoryBlock
                %h3.text-center Amenities and Features
                %p
                  - @amanities.each do |u|
                    %span
                      = u.title
                = f.text_field :amenities_and_features, :placeholder => "Others", :class => 'input2 width100per', 'data-role'=>'tagsinput'
              .categoryBlock
                %h3.text-center Local Attractions
                %p
                  - @attractions.each do |u|
                    %span
                      = u.title
                = f.text_field :nearby_attractions, :placeholder => "Nearby attractions", :class => 'input2 width100per', :id => 'nearby_attractions', 'data-role'=>'tagsinput'
        .row
          .col-md-12
            %p  
            %p  
        .row
          .col-md-12
            = f.submit "Continue", :class => 'btn btn-success btn-lg pull-right'

:javascript
  initializeNearbyAttraction()
  