%h1 New Property
= form_for @property, :html => { :class => 'form-horizontal' } do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this property from being saved:
      %ul
        - @property.errors.full_messages.each do |message|
          %li= message
  = render "#{@property.current_step}_step", :f => f
  - if !@property.last_step?
    %p= f.submit "Continue"
  - else
    %p= f.submit "Confirm"
  %p= f.submit "Back", :name => "back_button" unless @property.first_step?
%p= link_to 'Back To Properties', properties_path
