= form_for @property, :html => { :class => 'form-horizontal' } do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this property from being saved:
      %ul
        - @property.errors.full_messages.each do |message|
          %li= message
  = render "#{@property.current_step}_step", :f => f
