%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        = image_tag 'logo-icon.png', :height => 47, :width => 41
        / %img{:alt => "", :height => "47", :src => "assets/logo-icon.png", :width => "41"}/
    #navbar.navbar-collapse.collapse
      .topRight.navbar-right
        %a{:href => "#"}
          = image_tag 'thumb.png', :height => 34, :width => 34
        %a.liveField{:href => "#"} Where do you want to live ?
        %a.topPropertyBtn{:href => "#"}
          = image_tag 'plusblue-icon.png', :height => 19, :width => 19
          List Your Property
        = link_to (image_tag ("user.png"), :size => "38x34"), "/users/sign_in"
        %a{:href => "#"}
          = image_tag 'well.png', :height => 38, :width => 34
